@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
	width: 100%;

	background-color: #f5f5f5;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	li {
		list-style: none;
	}
}

/* Resets */
hr {
	margin-left: 0;
	max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
	position: relative;
	background: url(https://source.unsplash.com/9Y8vxVQN4o4/1920x1080) no-repeat
		bottom center / cover;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}

	.container {
		padding: 75px 0;
	}

	h1,
	.lead {
		color: #fff;
	}
}

/* Bustom button */
.btn-primary {
	background: #1096fc;
	border: 0;

	&:hover {
		background: darken(#1096fc, 7%);
	}
}

/* Features */
.sec-features {
	.row {
		&:nth-of-type(n + 2) {
			margin-top: 160px;
		}

		&:last-of-type {
			margin-bottom: 160px;
		}
	}

	.feature-icon {
		max-width: 150px;
	}
}

/* Testimonials */
.sec-testimonials {
	padding-top: 128px;
	padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
	bottom: -30px;

	li {
		background: rgba(33, 33, 33, 0.1);

		&:focus,
		&:hover {
			background: rgba(33, 33, 33, 0.5);
		}
	}

	.active {
		background: rgba(33, 33, 33, 0.75);
	}
}

.carousel-control-next,
.carousel-control-prev {
	& {
		color: #212121;
	}

	&:focus,
	&:hover {
		color: #111;
	}
}
